# プロ野球データによるセイバーメトリクス
## 1. 事前に
### 1.1. データのダウンロード
- プロ野球データFreak(http://baseball-data.com/) から、2015年における全球団んの打撃成績および2016年における野手の年俸上位100選手のデータを使用。
- 実際はデータサイエンティスト養成読本のサポートサイト(http://gihyo.jp/book/2017/978-4-7741-8877-5/support) より各csvファイルをダウンロードして使用。

### 1.2. モジュールのダウンロード

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Set graph font and style.
plt.rcParams['font.family'] = 'IPAexGothic'
plt.style.use('ggplot')
%matplotlib inline

## 2. クロス集計で比較
### 2.1. 使用するデータについて
- batterに打撃成績データを、nenpoに年俸データを読み込む。
- 基本的なデータの保存形式はこのように、整理データでかつ縦持ちデータであることが適切。
- 縦持ちデータで前処理を進めて、可視化やクロス集計を行う際に横持ちデータにするのが効率的。

In [8]:
batter = pd.read_csv('batting-record.csv', encoding='shift-jis')
batter.head()

,Name,League,Team_15,AVG,AB,H,HR,RBI,SLG,OBP,OPS,RC,RC27,XR,XR27
0,山田 哲人,セ,ヤクルト,0.329,557,183,38,100,0.610,0.416,1.027,138.74,9.56,133.36,9.19
1,川端 慎吾,セ,ヤクルト,0.336,581,195,8,57,0.439,0.383,0.822,93.68,6.20,88.39,5.85
2,雄平,セ,ヤクルト,0.270,551,149,8,60,0.388,0.307,0.695,64.96,4.21,63.25,4.10
3,畠山 和洋,セ,ヤクルト,0.268,512,137,26,105,0.471,0.344,0.815,83.78,5.76,85.19,5.85
4,中村 悠平,セ,ヤクルト,0.231,442,102,2,33,0.276,0.299,0.575,36.74,2.70,37.46,2.76

In [9]:
nenpo = pd.read_csv('annual-salary.csv', encoding='shift-jis')
nenpo.head()

     Name Team_16  Salary Position  Age  Height  Weight
0   中村　剛也      西武   41000      内野手   32     175     102
1    鳥谷　敬      阪神   40000      内野手   35     180      79
2  バレンティン    ヤクルト   36000      外野手   32     185     100
3   中島　宏之   オリックス   35000      内野手   33     180      90
4   内川　聖一  ソフトバンク   33000      外野手   33     185      93

### 2.2. データの結合